[push]
	default = simple
[core]
	excludesfile = /home/can/.gitignore
[user]
	email = cyril@andreatta.ch
	name = Cyril
[diff]
    tool = kdiff3
[difftool "kdiff3"]
    cmd = kdiff3 \"$LOCAL\" \"$REMOTE\"

